autostart/
BetterDiscord/
Blockbench/
BraveSoftware/
Code/
Code - OSS/
CurseForge/
discord/
Discord/
discordptb/
Electron/
filezilla/
GIMP/
git/
github-copilot/
go/
heroic/
ibus/
JetBrains/
MongoDB Compass/
obs-studio/
pulse/
Snapchat/
spicetify/
spotify/
swaync/
systemd/
teamviewer/
Thunar/
Vencord/
vesktop/
WebCord/
Youtube/